@model Project.Models.Warehouse
<link href="@Url.Content("~/css/Product.css")" rel="stylesheet">

<div class="container">
    <div class="text">
        Create
    </div>
    <form asp-action="Create">
        <div class="form-group">
            <div class="input-data">
                <input asp-for="WarehouseName" class="form-control" placeholder="WarehouseName" />
                <div class="underline"></div>
            </div>
        </div>
        <div class="form-group">
            <div class="input-data">
                <input asp-for="Address" class="form-control" placeholder="Address" />
                <div class="underline"></div>
            </div>
        </div>
        <div class="form-group">
            <div class="input-data">
                <input asp-for="ZipCode" class="form-control" placeholder="ZipCode" />
                <div class="underline"></div>
            </div>
        </div>
        <div class="form-group">
            <div class="input-data">
                <input asp-for="PhoneNumber" class="form-control" placeholder="PhoneNumber" />
                <div class="underline"></div>
            </div>
        </div>

        <div>
        @* <select id="provinces-dropdown">
            <!-- Options for provinces will be filled when the page loads -->
        </select>
        </div>

        <select id="districts-dropdown">
            <!-- Options for districts will be filled based on selected province -->
        </select>

        <select id="wards-dropdown">
            <!-- Options for wards will be filled based on selected district -->
        </select> *@


        <div class="form-group">
            <div class="submit-btn">
                <div class="input-data">
                    <div class="inner"></div>
                    <input type="submit" value="Create" class="btn btn-primary">
                </div>
            </div>
            <div class="back-btn">
                <div class="submit-btn">
                    <div class="input-data">
                        <div class="inner"></div>
                        <a asp-action="Index" class="btn btn-primary">Back to List</a>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>



<script>
    $(document).ready(function () {
        // Load provinces when the page loads
        $.getJSON('@Url.Action("GetProvinces")', function (data) {
            var items = '';
            $.each(data, function (i, province) {
                items += "<option value='" + province.Code + "'>" + province.Name + "</option>";
            });
            $('#provinces-dropdown').html(items);
        });

        // Update districts when a province is selected
        $('#provinces-dropdown').change(function () {
            var provinceCode = $(this).val();
            $.getJSON('@Url.Action("GetDistricts")', { provinceCode: provinceCode }, function (data) {
                var items = '';
                $.each(data, function (i, district) {
                    items += "<option value='" + district.Code + "'>" + district.Name + "</option>";
                });
                $('#districts-dropdown').html(items);
            });
        });

        // Update wards when a district is selected
        $('#districts-dropdown').change(function () {
            var districtCode = $(this).val();
            $.getJSON('@Url.Action("GetWards")', { districtCode: districtCode }, function (data) {
                var items = '';
                $.each(data, function (i, ward) {
                    items += "<option value='" + ward.Code + "'>" + ward.Name + "</option>";
                });
                $('#wards-dropdown').html(items);
            });
        });
    });
</script>